USE [master]
GO
/****** Object:  Database [Umetnicka_Dela]    Script Date: 5/26/2025 7:33:04 PM ******/
CREATE DATABASE [Umetnicka_Dela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Umetnicka_Dela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Umetnicka_Dela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Umetnicka_Dela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Umetnicka_Dela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Umetnicka_Dela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Umetnicka_Dela]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 5/26/2025 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[LozinkaHash] [nvarchar](255) NOT NULL,
	[TipKorisnika] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Porudzbine]    Script Date: 5/26/2025 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porudzbine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[DatumPorudzbine] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkePorudzbine]    Script Date: 5/26/2025 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkePorudzbine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PorudzbinaID] [int] NOT NULL,
	[UmetnickoDeloID] [int] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[CenaPoJedinici] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UmetnickaDela]    Script Date: 5/26/2025 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UmetnickaDela](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Opis] [nvarchar](max) NULL,
	[Umetnik] [nvarchar](100) NOT NULL,
	[Kategorija] [nvarchar](100) NOT NULL,
	[Cena] [decimal](10, 2) NOT NULL,
	[Fotografija] [nvarchar](255) NULL,
	[Dostupnost] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Korisnici] ON 

INSERT [dbo].[Korisnici] ([ID], [Ime], [Prezime], [Email], [LozinkaHash], [TipKorisnika]) VALUES (3, N'Zika', N'Zikic', N'zika.zikic@example.com', N'zikaumetnik', N'Umetnik')
INSERT [dbo].[Korisnici] ([ID], [Ime], [Prezime], [Email], [LozinkaHash], [TipKorisnika]) VALUES (6, N'Andrija', N'Pejovic', N'pejovicandrija01@gmail.com', N'andrija123', N'Kupac')
INSERT [dbo].[Korisnici] ([ID], [Ime], [Prezime], [Email], [LozinkaHash], [TipKorisnika]) VALUES (7, N'Milos', N'Milosevic', N'milos@gmail.com', N'milosadmin', N'Administrator')
SET IDENTITY_INSERT [dbo].[Korisnici] OFF
GO
SET IDENTITY_INSERT [dbo].[Porudzbine] ON 

INSERT [dbo].[Porudzbine] ([ID], [KorisnikID], [DatumPorudzbine], [Status]) VALUES (3, 3, CAST(N'2023-10-03T12:45:00.000' AS DateTime), N'Zavrseno')
INSERT [dbo].[Porudzbine] ([ID], [KorisnikID], [DatumPorudzbine], [Status]) VALUES (12, 6, CAST(N'2025-05-20T12:29:56.387' AS DateTime), N'Zavrseno')
INSERT [dbo].[Porudzbine] ([ID], [KorisnikID], [DatumPorudzbine], [Status]) VALUES (13, 9, CAST(N'2025-05-07T00:57:23.610' AS DateTime), N'Isporuka')
SET IDENTITY_INSERT [dbo].[Porudzbine] OFF
GO
SET IDENTITY_INSERT [dbo].[StavkePorudzbine] ON 

INSERT [dbo].[StavkePorudzbine] ([ID], [PorudzbinaID], [UmetnickoDeloID], [Kolicina], [CenaPoJedinici]) VALUES (3, 3, 3, 1, CAST(7500000.00 AS Decimal(10, 2)))
INSERT [dbo].[StavkePorudzbine] ([ID], [PorudzbinaID], [UmetnickoDeloID], [Kolicina], [CenaPoJedinici]) VALUES (11, 13, 4, 1, CAST(4000000.00 AS Decimal(10, 2)))
INSERT [dbo].[StavkePorudzbine] ([ID], [PorudzbinaID], [UmetnickoDeloID], [Kolicina], [CenaPoJedinici]) VALUES (26, 22, 7, 1, CAST(1200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[StavkePorudzbine] OFF
GO
SET IDENTITY_INSERT [dbo].[UmetnickaDela] ON 

INSERT [dbo].[UmetnickaDela] ([ID], [Naziv], [Opis], [Umetnik], [Kategorija], [Cena], [Fotografija], [Dostupnost]) VALUES (3, N'David', N'Renesansna skulptura Mikelandjela.', N'Mikelandjelo', N'Skulptura', CAST(7500000.00 AS Decimal(10, 2)), N'/images/David.jpg', 1)
INSERT [dbo].[UmetnickaDela] ([ID], [Naziv], [Opis], [Umetnik], [Kategorija], [Cena], [Fotografija], [Dostupnost]) VALUES (4, N'Krik', N'Ekspresionisticka slika Edvarda Munka.', N'Edvard Munk', N'Slika', CAST(4000000.00 AS Decimal(10, 2)), N'/images/Krik.jpg', 1)
INSERT [dbo].[UmetnickaDela] ([ID], [Naziv], [Opis], [Umetnik], [Kategorija], [Cena], [Fotografija], [Dostupnost]) VALUES (7, N'Zvezdana Noć', N'Impresionistički pejzaž noćnog neba sa vrtložastim zvezdama.', N'Vincent van Gogh', N'Slika', CAST(1200000.00 AS Decimal(10, 2)), N'/images/ZvezdanaNoć.jpg', 1)
SET IDENTITY_INSERT [dbo].[UmetnickaDela] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Korisnic__A9D10534B82EEBC0]    Script Date: 5/26/2025 7:33:05 PM ******/
ALTER TABLE [dbo].[Korisnici] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Porudzbine] ADD  DEFAULT (getdate()) FOR [DatumPorudzbine]
GO
ALTER TABLE [dbo].[UmetnickaDela] ADD  DEFAULT ((1)) FOR [Dostupnost]
GO
ALTER TABLE [dbo].[Porudzbine]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkePorudzbine]  WITH CHECK ADD FOREIGN KEY([PorudzbinaID])
REFERENCES [dbo].[Porudzbine] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkePorudzbine]  WITH CHECK ADD  CONSTRAINT [FK_StavkePorudzbine_UmetnickaDela] FOREIGN KEY([UmetnickoDeloID])
REFERENCES [dbo].[UmetnickaDela] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkePorudzbine] CHECK CONSTRAINT [FK_StavkePorudzbine_UmetnickaDela]
GO
ALTER TABLE [dbo].[Korisnici]  WITH CHECK ADD CHECK  (([TipKorisnika]='Umetnik' OR [TipKorisnika]='Administrator' OR [TipKorisnika]='Kupac'))
GO
ALTER TABLE [dbo].[StavkePorudzbine]  WITH CHECK ADD CHECK  (([Kolicina]>(0)))
GO
USE [master]
GO
